.body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(20, 247, 145);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body .title{
   font-size: 3rem;
    font-weight: bold;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 2px 2px 5px;
}

.body .btn{
    margin-top: 5rem;
    text-decoration: none;
    background: rgb(39, 163, 169);
    padding: 1rem 3rem;
    border-radius: 2rem;
    cursor: pointer;
    color: purple;
}

.body .link{
    margin-top: 1rem;
    background: transparent;
    cursor: pointer;
    color: rgb(0, 35, 104);
    font-size: 0.8rem;
}

.body .link:hover{
    background: transparent;
    color: rgb(30, 78, 174);;
}

.body .desc{
    font-size: 1rem;
    color: rgb(88, 71, 75);
    text-align: center;
    margin: 1rem 20rem;
    margin-top: 2rem;
}

.body a:hover{
    background-color: rgb(0, 35, 104);
    color: white;
}
